/**,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;

}*/

.container {
  background-image: url("../img/drEvil.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  text-align: center;
  height: 400px;
  width: auto;
  position: relative;
}

.top {
  position: absolute;
  top: -40px;
  left: 150px;
  text-shadow: 4px 4px 0px #000000;
  font-family: Impact;
  font-size: 50px;
}

.bottom {
  position: absolute;
  bottom: -20px;
  left: 150px;
  text-shadow: 4px 4px 0px #000000;
  font-family: Impact;
  font-size: 60px;
}
